In [2]:
import pandas as pd

df = pd.read_csv('data.csv')
df

,age,23,23.1,27,27.1,39,41,47,49,50,52,54,54.1,56,57,58,58.1,60,61
0,%fat,9.5,26.5,7.8,17.8,31.4,25.9,27.4,27.2,31.2,34.6,42.5,28.8,33.4,30.2,34.1,32.9,41.2,35.7