In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
df

    age  %fat
0    23   9.5
1    23  26.5
2    27   7.8
3    27  17.8
4    39  31.4
5    41  25.9
6    47  27.4
7    49  27.2
8    50  31.2
9    52  34.6
10   54  42.5
11   54  28.8
12   56  33.4
13   57  30.2
14   58  34.1
15   58  32.9
16   60  41.2
17   61  35.7